vti_encoding:SR|utf8-nl
vti_author:SR|Reed-PC\\Reed
vti_modifiedby:SR|REED-LAPTOP\\Reed
vti_timelastmodified:TR|13 Jul 2010 01:37:07 -0000
vti_timecreated:TR|18 May 2010 01:11:22 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|service.htm aboutus.htm contact.htm news.htm links.htm default.htm gallery.htm product.htm ourteam.htm
vti_nexttolasttimemodified:TW|13 Jul 2010 01:36:43 -0000
vti_cacheddtm:TX|13 Jul 2010 01:37:07 -0000
vti_filesize:IR|4090
vti_cachedlinkinfo:VX|S|images/background.jpg S|images/contentBackground.gif S|images/logo.gif S|images/barBackground.gif
vti_cachedsvcrellinks:VX|FSUS|design/images/background.jpg FSUS|design/images/contentBackground.gif FSUS|design/images/logo.gif FSUS|design/images/barBackground.gif
